body {
  font-family: "Open Sans", sans-serif;
  padding-top: 70px;  
  line-height: 1.6em;
}

img {
  max-width: 100%;
}

.navbar-bump {
  padding-top: 110px;
  }
  
.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-weight: 700;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #3C5EC3;
  text-decoration: none;
}

/* Customize container - Jumbotron example*/
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.width-380 {
  max-width: 380px;
}

/* Making sure headers are also Open Sans font */

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 900;
}

h1, h2, h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  line-height: 1.3em;
}

/* Button styling */

.btn, .btn-large, .btn-info {
  background-color: #3C5EC3;
  border: #2645A0 solid 3px;
}

.btn.btn-large {
  font-size: 16.996px;
  line-height: 20px;
  padding: 8px 34px 8px;
}

.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #4A71E5;
  border: #3C5EC3 solid 3px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-25 {
  padding-top: 25px;
}

.main-description {
  margin: 5%;
}

a:hover, a:focus {
  color: #3C5EC3;
  text-decoration: none;
}

.section2 {
  background-color: #efefef;
  padding: 30px;
}

.section2.mission {
  margin-top: 60px;
}

.section2 .row,
.section2 p {
  margin-bottom: 0;
}

.section2 p, .section2 ul {
  margin: 5%;
  padding-left: 0;
  line-height: 28px;
  font-size: 15px;
}

.section2 ul li {
  margin-left: 0;
}

.openlex-header {
  color: #3C5EC3;
}

.mission #wrap #content {
  margin: 0 20px;
}

.mission #content {
  font-size: 16px;
  line-height: 26px;
}

#wrap > .container {
  padding-top: 60px;
}

#footer {
  background-color: #fafafa;
  height: auto;
}

#footer .container {
  padding: 60px 0;
}

#footer p {
  font-size: 13px;
  color: black;
}
  
#footer a {
  font-weight: bold;
  text-decoration: underline;
  color: black;  
}

#footer a:hover, #footer a:focus {
  text-decoration: none;
  color: #3C5EC3;     
}

.text-xs-center {
  text-align: center;
}

ul li {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .text-xs-center {
    text-align: left;
  }
  
  .home .section2 p {
    width: 330px;
    max-width: 100%;
  }
}