.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-bottom: 20px;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}