html{
	
}

body{
	/*background: #ebebeb;*/
	background-color: #fff;
	color:#000;
}

#wrapper
{
	margin: 0 auto;
	width: 960px;
	background: #fff;
}

#main p, ul{
	padding: 1em;
}
#main ul li, #main ul li a {
	font-size: 100%;
	padding: 0 0 1.1em 0;
}

#main h2{
	font-size: 110%;
	padding: 1em 0 0 0.9em;
}

#bigcenter{
	margin-top:2em;
	text-align:center;
}
#bigcenter img{
	border: 1px solid #999;
	padding:3px;
}
#bigcenter p{
	font-size: 1em;
	font-family: "American Typewriter", "monaco", courier, sans-serif;
}