<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html" title="OpenLexington">Home</a></li>
          <li><a href="about.html" title="About OpenLexington">About</a></li>
          <li><a href="projects.html" title="Projects OpenLexington ">Projects</a></li>
          <li><a href="getinvolved.html" title="Get Involved ">Get Involved</a></li>
          <li><a href="http://data.lexingtonky.gov" title="Open Data Catalog">Data</a></li>
          <li><a href="http://github.com/openlexington" title="Fork our code at GitHub">Code</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
