<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Empowering citizens through open data and open source solutions in Lexington, Kentucky">
  <meta name="keywords" content="Lexington, Kentucky, Open Source, Open Data, Open Government, Transparency, Data, non-profit,olunteer, organization, public data" />
  <meta name="author" content="OpenLexington, Chase Southard, Sam Wilson, et al" />
  <meta name="Copyright" content="Copyright OpenLexington 2015. All Rights Reserved." />

  <meta name="DC.title" content="OpenLexington" />
  <meta name="DC.subject" content="Empowering citizens through open data and open source solutions in Lexington, Kentucky" />
  <meta name="DC.creator" content="OpenLexington, Chase Southard et al" />

  <meta name="google-site-verification" content="LQ4XUq8R42yXu2f53lSdDHzQrEnyXe47oLlIsATuYM0" />">
  <meta name="description" content="Empowering citizens through open data and open source solutions in Lexington, Kentucky" />
  <!-- Google will often use this as its description of your page/site. Make it good. -->

  <link rel="shortcut icon" href="img/favicon.ico">

  <title>OpenLexington</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/sticky-footer.css" rel="stylesheet">
  <link href="css/navbar-fixed-top.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
