.logo {
  display: block;
  position: absolute;
  z-index: 1000000000;
  max-height: 75px;
  max-width: 147px;
  padding-top: 7px;
  padding-left: 50px;
}

.navbar-inner {
  background-color: #EAE7E7;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > .active > a {
  color: #555555;
  text-decoration: none;
  background-color: #EAE7E7;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar .nav > li > a {
  text-shadow:none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.scoot {
  margin-top:40px;
}

.section1 {
  height: auto;
  padding-top: 80px;
}

.down {
  padding-bottom: 50px;
}

.up {
  padding-top: 100px;
}

.extra-left {
  margin-left: 110px;
}

.two-column-centered {
  margin-left: auto;
  margin-right: auto;
}

.button {
   -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; 
}

.button.active {
   -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;   
}

.section2 {
  background-color: #EFEFEF;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.section3 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
/*   padding: 30px; */
  background-color: #FAFAFA;
}

.subheading {
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 18px;
}

h1 {
  font-size: 35px;
  line-height: 28px;
}

h2 {
  font-size: 32px;
  line-height: 26px;
  font-weight: bolder;
}

body {
  line-height: 24px;  
}

p {
  margin: 20px;
}

.negative-bottom {
  margin-bottom: -27px;
}

a {
  text-decoration: underline;
  color: #000000;
}

a:hover {
  color: #3C5EC3;
  text-decoration: none;
}

/* Styling OpenData.html*/

.body {
  margin: 100px 100px 75px 100px;
}

a.openlex {
  color: #3C5EC3;
  text-decoration: none;
}

.openlex-header {
  padding: 40px 0px 20px 0px;
}

.big {
  font-size: 2em;
  text-align: left;
  line-height: 1.2em;
  font-weight: bold;
  margin-left: 0px;
}

.medium {
  font-size: 1.6em;
  text-align: left;
  font-weight: bold;
  margin-left: 0px;
}


li {
  line-height: 2em;
  font-size: 16px;
}

.undo-indent {
  margin-left: 0px;
}

.mission {
  padding: 50px 100px;
}


/* Projects Stylin */
.projects {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.2em;
  padding-bottom: 50px;
}

.development {
  color: #4A71E5;
}

.launched {
  color: #3740b5;
}

a.project-title {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

a.project-title:hover {
  color: #4A71E5;
}

.description {
  margin: 0px;
  margin-left: 5px;
  font-size: 19px;
  color: #555555;
  font-weight: 600;
}

.launched a:hover {
  color: #3740b5;
}

.getinvolved {
  padding-top: 50px;
}

.getinvolved a {
  font-size: 2.57em;
  vertical-align: middle;
}

ul.getinvolved li {
  padding: 20px 0px;
  vertical-align: middle;
}

/* Footer Stylin */

footer {
  font-size: 12px;
  padding: 50px;
}

footer a {
  text-decoration: underline;
  color: #000000;
}

footer a:hover {
  color: #3C5EC3;
  text-decoration: none;
}

/******** Custom Responsive *********/

@media (min-width: 768px) and (max-width: 979px) {
  .section1 {
    padding-top: 0px;
  }
  .scoot {
    margin-top: 0px;
  }
}








