<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="home">

    {% include header.html %}

    <div id="wrap">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
